.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Background-Image{

  background-image:
   url("./images/riverbackground.png");
   background-size: "cover";
   height: 100vh;
   width:stretch px;
   font-size: 50px;
   background-repeat: no-repeat;
}

h1{
  font-size:20vh;
  color: #FAEBBB
}
h3{
  font-size: 6.18vh;
  color: #FAEBBB
}
h7{
  font-size:2vh;
  color: black
}

body{
  text-align: center;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
