.Background-Image2{

    background-image:

     url("./images/phoneBG.jpg");
     background-size: "cover";
     height: 323vh;
     width:stretch px;
     font-size: 50px;
     background-repeat: no-repeat;
  }





